.navbar {
    background-color: #5B913B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    padding-top: 20px;
    position: sticky;
    top: 0px;
    z-index: 9999;
}

.logo {
    font-size: 5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Jomhuria', Times, serif;
    color: white;
    cursor: pointer;
}

.icon_cart {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.nav_links {
    /* background-color: blue; */
    position: relative;
}

.command_number {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    padding: 2px;
    border-radius: 50%;
    color: white;
    font-family: 'Poppins', Times, serif;
    font-size: 0.5rem;
    font-weight: bold;
    
}