.restaurants_section {
    margin-top: 100px;
    padding: 0 50px;
}

.restaurants_header h1 {
    color: white;
    text-transform: uppercase;
    font-family: 'Jomhuria', Times, serif;
    font-weight: 400;
    font-size: 3.5rem;

}

.restaurants_header {
    display: flex;
    align-items: center;
    border-left: 5px solid white;
    /* background-color: blueviolet; */
    height: 100%;
    padding: 0 5px;

}

.restaurants_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    /* background-color: brown; */
    margin-top: 50px;
}

.restaurant_card {
    
    /* background-color: blue; */
    position: relative;
    /* box-shadow: 10px 10px 15px black; */
}

.restaurant_card img {
    /* width: fit-content; */
    height: 300px;
    width: 390px;
    border-radius: 10px;

}
.card_content{
    position: absolute;
    /* top: 0; */
    bottom: 0%;
    padding: 10px 0;
    
    background-color: rgba(0, 0, 0, 0.767);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
}
.card_content h1 {
    color: white;
    padding-left: 10px;
    text-transform: uppercase;
    font-family: 'Poppins', Times, serif;
    font-weight: 500;
    cursor: pointer;

}
.restaurant_ratings{
    color: white;
    font-family: 'Poppins', Times, serif;
    padding-right: 10px;
    display: flex;
    align-items: center;gap: 0.2rem;
}

.restaurant_card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Augmente l'espace entre les cartes pour un meilleur rendu */
    width: 100%;
    margin-top: 50px;
}

.card-skeleton {
  width: 300px; /* Adapte la largeur à ta carte */
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.skeleton-image {
  height: 200px; /* Hauteur de l'image de la carte */
  background-color: #d3d3d3; /* Gris clair pour l'image */
}

.skeleton-content {
  padding: 16px;
}

.skeleton-title {
  height: 20px;
  width: 70%;
  background-color: #d3d3d3; /* Gris clair pour le titre */
  margin-bottom: 10px;
}

.skeleton-line-1,
.skeleton-line-2 {
  height: 12px;
  background-color: #d3d3d3; /* Gris clair pour les lignes */
  margin-bottom: 8px;
}

.skeleton-line-1 {
  width: 90%;
}

.skeleton-line-2 {
  width: 85%;
}

/* Animation de chargement avec la nouvelle couleur */
.card-skeleton div {
  background-image: linear-gradient(
    90deg,
    #d3d3d3 0px,
    #5b913b 40px,
    #d3d3d3 80px
  );
  background-size: 200% 100%;
  animation: loading-animation 1.5s infinite linear;
}

@keyframes loading-animation {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}

